/**
 * LibertyPie Project 
 * November 2020
 **/
@import "./theme-plugin.css";
@import "./theme.min.css";
@import "../libs/slick/slick.css";
@import "../libs/slick/slick-theme.css";

.header_bg,
.navbar-dark #header-wrap.fixed-header {
  background: linear-gradient(to right, #6a11cb 0%, #2575fc 100%) !important;
  /* background: linear-gradient(-225deg, rgba(172, 50, 228,0.98) 0%, rgba(121, 24, 242,0.95) 48%, rgba(72, 1, 255,0.95) 100%);*/
}

.bg_pink {
  background: #e91e63 !important;
  color: #fff !important;
}

.bg_pink_darken_1 {
  background: #d81b60 !important;
  color: rgba(255, 255, 255, 0.9) !important;
}

.bg_red_accent_2 {
  background: #ff5252 !important;
  color: rgba(255, 255, 255, 0.9) !important;
}

.nav-link:hover {
  color: rgba(255, 255, 255, 0.9) !important;
}

.brand_logo {
  height: 140px !important;
}

.platform_comparisons {
  border-radius: 10px !important;
}

.platform_comparisons td {
  padding-top: 25px !important;
  padding-bottom: 25px !important;
  font-weight: normal !important;
  text-align: center !important;
  width: 25% !important;
  color: #8090b5 !important;
  font-size: 16px !important;
  background: #060927 !important;
}

.platform_comparisons .las {
  font-size: 22px !important;
}

.top_left_rounded {
  border-top-left-radius: 5px !important;
}

.top_right_rounded {
  border-top-right-radius: 5px !important;
}

.bottom_left_rounded {
  border-bottom-left-radius: 5px !important;
}

.bottom_right_rounded {
  border-bottom-right-radius: 5px !important;
}

.platform_comparisons td:first-child {
  text-align: left !important;
  padding-left: 20px !important;
}

.platform_comparisons th {
  padding-top: 20px !important;
  padding-bottom: 20px !important;
}

.platform_comparisons td:nth-child(2),
.platform_comparisons th:nth-child(2) {
  background: #4951eb !important;
  color: rgba(255, 255, 255, 0.9) !important;
}

.platform_comparisons th {
  text-align: center !important;
}

#blog_posts_sections button.slick_next,
#blog_posts_sections button.slick_prev {
  -webkit-box-shadow: 0 0.5rem 1rem rgba(110, 0, 255, 0.4) !important;
  box-shadow: 0 0.5rem 1rem rgba(110, 0, 255, 0.4) !important;
}

.fit-img {
  height: 240px;
  width: 100%;
}

.fit-img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
